:root {
  --main-bg-colour: #ffffff;
  --second-bg-colour: #f5f4fa;
  --hero-footer-colour: #2f303a;
  --main-text-colour: #757575;
  --title-colour: #212121;
  --accent-colour: #2196f3;
}
.page {
  background-color: var(--main-bg-colour);
  color: var(--main-text-colour);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  list-style: none;
}

.logo {
  text-decoration: none;
  font-family: 'raleway', bold;
  font-size: 26px;
  line-height: 1.19;
  font-style: unset;
}
.logo-part1 {
  color: var(--accent-colour);
}
.logo-part2 {
  color: #000000;
}
.nav-link {
  color: var(--title-colour);
}
.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:focus,
.link:hover {
  color: var(--accent-colour);
}
.contact-link {
  color: var(--main-text-colour);
}
.nav-link.current {
  color: var(--accent-colour);
}
.footer {
  background-color: var(--hero-footer-colour);
}
.footer-logo-part2 {
  color: var(--main-bg-colour);
}
.footer-address {
  font-style: unset;
  line-height: 1.71;
}
.address-literally {
  color: var(--main-bg-colour);
}
.address-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
