:root {
  --main-bg-colour: #ffffff;
  --second-bg-colour: #f5f4fa;
  --hero-footer-colour: #2f303a;
  --main-text-colour: #757575;
  --title-colour: #212121;
  --accent-colour: #2196f3;
}
.page {
  background-color: var(--main-bg-colour);
  color: var(--main-text-colour);
  font-family: 'Roboto', sans-serif;
}
.logo-part1 {
  color: var(--accent-colour);
}
.logo-part2 {
  color: #000000;
}
.nav-link {
  color: var(--title-colour);
}
.hover:hover,
.hover:focus {
  color: var(--accent-colour);
}
.contact-link {
  color: var(--main-text-colour);
}
.nav-current {
  color: var(--accent-colour);
}
.footer {
  background-color: var(--hero-footer-colour);
}
.footer-logo-part2 {
  color: var(--main-bg-colour);
}
.address-literally {
  color: var(--main-bg-colour);
}
.address-contact {
  color: rgba(255, 255, 255, 0.6);
}
